body{
    background: rgb(107, 107, 241);
}

header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 3px 3px 15px rgba(0,0,0.363);
}

#msg{
    text-align:center;
}
#imagem{
    margin: 10px 120px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
}


